<h2>Admin Notolab</h2>
<ul>
  <li><%= link_to "Create New Course", new_course_path, title: "Create a new course" %></li>
  <li><%= link_to "Manage Users", users_path, title: "Manage every Notolab user" %></li>
  <li><%= link_to "Bulk Email Instructors", email_instructors_admin_path, title: "Send a bulk email to every Notolab instructor" %></li>
</ul>
